<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037875004504-8tvdp187dbhsjls1jpcdd2bnv17bqe8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037875004504-8tvdp187dbhsjls1jpcdd2bnv17bqe8f</string>
	<key>API_KEY</key>
	<string>AIzaSyD7G2IV4MXdkL8GgSYjEDZCPzxR7saqDCI</string>
	<key>GCM_SENDER_ID</key>
	<string>1037875004504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.namnpse.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-b2651</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-b2651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037875004504:ios:2e36219af3ac73bff6762d</string>
</dict>
</plist>